/* .sidebar{
    height : 100vh;  
  background-image : url("https://www.shutterstock.com/shutterstock/videos/1069481302/thumb/7.jpg?ip=x480");
  background-size : cover;
  background-position : center;
} */