.wrapper {
  height : 100vh;  
  background-image : url("https://t4.ftcdn.net/jpg/04/60/71/01/360_F_460710131_YkD6NsivdyYsHupNvO3Y8MPEwxTAhORh.jpg");
  background-size : cover;
  background-position : center;
}
.login {
  width : 300px;
  height : min-content;
  padding : 20px;
  border-radius : 5px;
  color: black;
  /* background-color :rgb(238,241,243) */
  background-color: rgb(9, 121, 105)
  /* background-color: rgb(0, 255, 255) */
}